<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Scavenger Tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
        <testsuite name="Scavenger Unit Tests">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="Scavenger Integration Tests">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />

        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>
    <logging>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/coverage.xml"/>
    </logging>
</phpunit>
